
.navbar{
  background-color: #fff;
  border-bottom:1px solid #c9c9c9;
  
}
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline red;
} 
.form-insc{
  margin-top: 125px;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  padding: 50px;
}
.form-insc .form-head{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline red;
}
.form-insc .form-control:focus{
    box-shadow: none;
}
.sub-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-button .btn{
  margin-top: 50px;
}

.dash-aside{

    min-width: 250px;
    border-right: 1px solid rgb(204, 204, 204);
   height: 100%;
}
.list-group{
  padding-top: 100px;
  height: 100%;
}
.dash-aside .list-group .list-group-item span,
.dash-aside .list-group .list-group-item{
    cursor: pointer;
    color: #5a5a5a;
}
.dash-aside .list-group .list-group-item a{
  text-decoration: none;
  color: #212529;
}

.dash-aside .list-group .list-group-item a:hover,
.dash-aside .list-group .list-group-item:hover .dasch-items{
  color: #000;
}
.log-out{
  position: absolute;
  left: 0;
  top:10%;
}
.products{
  display: flex;
  margin-top: 100px;

  flex-wrap: wrap;
}
.prod,
.prod-add{
  margin-left: 30px;  
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  width: 300px;
  height: 275px;

}
.prod-add{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dc3545;
  cursor: pointer;
}
.prodContent{
  transition: 0.7s;
}
.prod-add:hover .prodContent{
  transform: scale(1.1);
}

.prod img{
  max-width: 250px;
}
.main-section{
    display: flex;
}
.Bon{
    flex: 1;
}
.btn-valid{
  position: absolute;
  right: 7%;
}
.bon-form{
  max-width: 500px;
  margin-top: 100px;
  position: relative;
}
.bon-table{
  margin-top: 150px;
}